<div class="contentarea container">
	<h1 id="title">
Facial Recognition Sign up!
	</h1>
  <br>

  <div id="allput">
	   
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton" class="waves-effect waves-light btn z-depth-4" style="margin-left: 7em;
  margin-top: 1em">Capture</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>

  </div>
</div>
<div class="container">
  <%= form_with(model: @user, local: true) do |form| %>

    <div class="field">
      <%= form.label :first_name %></p>
      <%= form.text_field :first_name, :value => @peep_params[:first_name], :readonly => true , :style => "color: limegreen; text-align: center;"%>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :value => @peep_params[:last_name], :readonly => true , :style => "color: limegreen; text-align: center;"%>
    </div>

  	<div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, :value => @peep_params[:email], :readonly => true , :style => "color: limegreen; text-align: center;"%>
    </div>

  	<%= hidden_field_tag 'img', nil, id: 'img_field' %>

    <div class="actions">
      <%= form.submit class:"waves-effect waves-light btn z-depth-4", style:"border-radius:2em"%>
    </div>
  <% end %>
</div>

<!-- MANIFESTED JSON
{
  "name": "WebRTC Still Photo Sample",
  "docsUrl": "https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos",
  "description": "Uses WebRTC's getUserMedia() API, a <video> element, and a <canvas> to capture still photos using your webcam."
} -->
