<!-- <!DOCTYPE html>

<div id="container">
    <video autoplay="true" id="videoElement">

    </video>
</div>
<%= javascript_include_tag 'add_photo' %>
<%= stylesheet_link_tag 'add_photo' %> -->





<head>
	<title>Refresh Miami Sign-Up</title>
	<meta charset='utf-8'>
</head>
<body>
<% require 'selenium-webdriver' %>
<% require 'capybara' %>
<% require 'httparty' %>

<div class="contentarea">
	<h1 id="title">
		Refresh Miami Kairos Facial Recognition Sign up!
	</h1>
	<p>
    <div id="allput">
	   </p>
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>
	   <p>
    </div>
	</p>
</div>

<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :value => @peep_params[:first_name], :readonly => true  %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :value => @peep_params[:last_name], :readonly => true  %>
  </div>

	<div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :value => @peep_params[:email], :readonly => true %>
  </div>

	<%= hidden_field_tag 'img', nil, id: 'img_field' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<!-- MANIFESTED JSON
{
  "name": "WebRTC Still Photo Sample",
  "docsUrl": "https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos",
  "description": "Uses WebRTC's getUserMedia() API, a <video> element, and a <canvas> to capture still photos using your webcam."
} -->
