<div class="container">
<%= form_with(model: event, remote: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :event_id %>
    <%= form.text_field :event_id, id: :event_event_id, class:"waves-effect waves-light btn z-depth-4", placeholder:"Enter your event ID here." %>
  </div>

  <div class="actions">
    <%= form.submit "Edit Event", class:"waves-effect waves-light btn z-depth-4" %>
  </div>
  <%= link_to 'Go Back', events_path, class:"waves-effect waves-light btn z-depth-4" %>
<% end %>
</div>