<p id="notice"><%= notice %></p>
<% require 'selenium-webdriver' %>
<% require 'capybara' %>
<% require 'httparty' %>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>

<table>
  <tr>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>User Event ID</th>
      <th>Sign Up</th>
    </thead>
  </tr>
  <tbody>
    <% @peeps.each do |show| %>
    <tr>
      <td><%= show['profile']['first_name'] %></td>
      <td><%= show['profile']['last_name'] %></td>
      <td><%= show['profile']['email'] %></td>
      <td><%= show['id'] %></td>
      <td>Sign Up Link</td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
