<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Event ID:</strong>
   <td><%= @event.event_id %></td>
  <strong>Event Name:</strong>
   <td><%= @event_name %></td>
</p>
<table>
  <tr>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Sign Up</th>
    </thead>
  </tr>
  <tbody>
    <% @peeps.each do |show| %>
    <tr>
      <td><%= show['profile']['first_name'] %></td>
      <td><%= show['profile']['last_name'] %></td>
      <td><%= show['profile']['email'] %></td>
      <td>
        <%= form_with(url: users_photos_new_path, local: true) do |form| %>
            <%= form.hidden_field 'user[first_name]', :value => show['profile']['first_name']  %>
            <%= form.hidden_field 'user[last_name]', :value => show['profile']['last_name']  %>
            <%= form.hidden_field 'user[email]', :value => show['profile']['email'] %>
            <%= form.submit "Sign Up", class:"waves-effect waves-light btn z-depth-4"%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%#= link_to 'Edit', edit_event_path(@event), class:"waves-effect waves-light btn z-depth-4" %>
<%= link_to 'Back', events_path, class:"waves-effect waves-light btn z-depth-4" %>
</div>