<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>

<table>
  <tr>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>User Event ID</th>
      <th>Sign Up</th>
    </thead>
  </tr>
  <tbody>
    <% @peeps.each do |show| %>
    <tr>
      <td><%= show['profile']['first_name'] %></td>
      <td><%= show['profile']['last_name'] %></td>
      <td><%= show['profile']['email'] %></td>
      <td><%= show['id'] %></td>
      <td><%= link_to 'Sign Up', users_add_photo_path({
                  peeps:{
                      first_name: show['profile']['first_name'],
                      last_name: show['profile']['last_name'],
                      email: show['profile']['email'],
                      user_event_id: show['id'] 
                      }}) %></td>
    </tr>
    <% end %>
  </tbody>

</table>
<br>
<%= @attendee_list_arrays %>
<br>
<br>
 <%= @attendee_list_hashes %>
 <br>
 <br>
 <%= @response %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
